h1{
    color: blue;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}
h2 {
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}

